@import url('./Fonts.css');
@import url('./utils.css');

* {
  font-family: 'Noto Sans';
}

.footer {
    background-color: var(--main-bg-color);
    color: var(--second-font-color);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-footer {
    align-self: center;
    font-weight: bold;
}

.icons-section {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
.icons-section a {
    color: #ffffff;
}

.copyright-section {
    align-self: center;   
}

.copyright-section a {
    color: #222222;
}


@media screen and (min-width: 1200px) {

    .icons-section {
        flex-direction: column;
        align-items: center;
    }
}